SOAP/MessageServiceUsageExample/MessageServiceUsageExample/Source/Service References/MessageServiceReference/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bankruptcytest.interfax-aki.ru/MessageService/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_GetMessageIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageIds" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageContent" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageContentResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessageContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessageContent" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessageContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessageContentResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessagesByTrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessagesByTrade" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetTradeMessagesByTrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeMessagesByTradeResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetArbitrManagerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArbitrManagerRegister" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetArbitrManagerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArbitrManagerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetDebtorRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDebtorRegister" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetDebtorRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDebtorRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetCompanyTradeOrganizerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyTradeOrganizerRegister" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetCompanyTradeOrganizerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyTradeOrganizerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetSroRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSroRegister" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetSroRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSroRegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="GetMessageIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageIds" message="tns:IMessageService_GetMessageIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageIdsResponse" message="tns:IMessageService_GetMessageIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageContent" message="tns:IMessageService_GetMessageContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageContentResponse" message="tns:IMessageService_GetMessageContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessageContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessageContent" message="tns:IMessageService_GetTradeMessageContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessageContentResponse" message="tns:IMessageService_GetTradeMessageContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessages" message="tns:IMessageService_GetTradeMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesResponse" message="tns:IMessageService_GetTradeMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessagesByTrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesByTrade" message="tns:IMessageService_GetTradeMessagesByTrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesByTradeResponse" message="tns:IMessageService_GetTradeMessagesByTrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArbitrManagerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetArbitrManagerRegister" message="tns:IMessageService_GetArbitrManagerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetArbitrManagerRegisterResponse" message="tns:IMessageService_GetArbitrManagerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDebtorRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorRegister" message="tns:IMessageService_GetDebtorRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetDebtorRegisterResponse" message="tns:IMessageService_GetDebtorRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTradeOrganizerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegister" message="tns:IMessageService_GetCompanyTradeOrganizerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegisterResponse" message="tns:IMessageService_GetCompanyTradeOrganizerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSroRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetSroRegister" message="tns:IMessageService_GetSroRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetSroRegisterResponse" message="tns:IMessageService_GetSroRegister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessageIds">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageContent">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessageContent">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessageContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeMessagesByTrade">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessagesByTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArbitrManagerRegister">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetArbitrManagerRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtorRegister">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetDebtorRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTradeOrganizerRegister">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSroRegister">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetSroRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
      <soap:address location="http://bankruptcytest.interfax-aki.ru/MessageService/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>